button {
  cursor: pointer;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: var(--shadow-sm);
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.5em 1em;
}

button[data-action='open-url'] {
  text-decoration: underline;
}

button[data-action='open-url']::after {
  content: '';
  width: 1em;
  height: 1em;
  background-image: url(../images/link.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.button--flat {
  box-shadow: none;
}

.button--blue {
  background-color: var(--bg-blue);
  color: var(--text-white);
}

.button--red {
  background-color: var(--bg-red);
  color: var(--text-white);
}

.button--big {
  font-size: 1.5em;
}

.button--info {
  position: relative;
}

.button--info::after {
  content: 'ⓘ';
  font-size: 0.75em;
  position: absolute;
  top: -0.25em;
  right: 0;
  color: var(--text-white);
  /* background-color: var(--bg-green); */
  border-radius: 2em;
  padding: 0.1em;
}

button[data-action='paste'] {
  position: absolute;
  width: 2em;
  height: 2em;
  background-image: url(../images/paste.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  right: 0.15em;
  bottom: 0.15em;
}
