:root {
  /* --bg-body: gainsboro; */
  --bg-body: #e4e4ef;

  /* --bg-blue-alpha: rgba(197, 220, 250, 0.5); */
  --bg-blue-alpha: #e2edfc;
  /* --bg-green-alpha: rgba(197, 242, 199, 0.5); */
  --bg-green-alpha: #e2f8e3;
  /* --bg-red-alpha: rgba(252, 208, 207, 0.5); */
  --bg-red-alpha: #fde7e7;
  /* --bg-yellow-alpha: rgba(251, 229, 201, 0.5); */
  --bg-yellow-alpha: #fdf2e4;
  /* --bg-grey-alpha: rgba(224, 224, 224, 0.5); */
  --bg-grey-alpha: #efefef;
  /* --bg-black-alpha: rgba(17, 17, 17, 0.5); */
  --bg-black-alpha: #888888;

  --bg-grey-dark: #616161;
  --bg-grey-medium: #818181;
  --bg-grey-light: #e0e0e0;

  --bg-black: #111111;
  --bg-blue: #3498db;
  --bg-violet: #817cff;
  --bg-green: #1f8b24;
  --bg-brown: #7f4c0a;
  --bg-red: #da100b;
  --bg-yellow: #fbe5c9;
  --bg-white: #ffffff;

  --text-black: #111111;
  --text-white: #ffffff;
  --text-blue: #0f56b3;
  --text-green: #1f8b24;
  --text-red: #a90e46;
  --text-yellow: #bf710f;
  --text-grey: #616161;

  --border-black: #111111;
  --border-darkgrey: #424242;
  --border-grey: #c0c0c0;
  --border-blue: #8ab9f6;
  --border-lightgrey: #e4e4ef;
  /* --border-lightgrey: #F9F9F9; */

  --popup-background-body: rgba(0, 0, 0, 0.75);

  --table-header: #809bce;
  --table-striped: #d6eadf;

  --grafana-line-blue: #00c9ff;
  --grafana-line-orange: #f98e76;
  --grafana-line-green: #37b44a;
  --grafana-line-tangerine-tango: #e05d44;
  --grafana-line-yellow-pink: #ff6f61;

  --grafana-background: #1f2128;
  --grafana-label-gray: #e0e0e0;

  --text: #333333;
  --text-second: #7f8c8d;
  --text-link: #3498db;

  /* --text-color:#4D4D4D; */

  --bg-header: #2980b9;
  --bg-sidebar: #2c3e50;
  --bg-content: #f5f7fa;
  --bg-footer: #34495e;
  --bg-footer--opacity95: rgb(52, 73, 94, 0.95);

  /*
  --bg-header: #ecf0f1;
  --bg-sidebar: #2c3e50;
  --bg-content: #ffffff;
  --bg-footer: #34495e;
*/
}

/* shadow-blue: filter: drop-shadow(0px 1.09009px 2.18018px rgba(15, 86, 179, 0.18)) drop-shadow(0px 2.18018px 4.36036px rgba(15, 86, 179, 0.18)); */
/* shadow-grey: filter: drop-shadow(0px 1.09009px 2.18018px rgba(97, 97, 97, 0.18)) drop-shadow(0px 2.18018px 4.36036px rgba(97, 97, 97, 0.18)); */
