@import url(./colors.css);
@import url(./fonts.css);
@import url(./var.css);
@import url(./reset.css);
@import url(./normalize.css);

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Ubuntu';
  font-weight: normal;
  color: var(--text-black);
  line-height: 1.5em;
  background-color: var(--white);
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ol {
  list-style: decimal;
}

blockquote {
  margin: 1em 1em 1em 1em;
  padding-left: 1em;
  border-left: 0.5em solid var(--border-grey);
}

a {
  color: var(--text-blue);
}

ol,
ul {
  padding-left: 1em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--table-striped);
}

button {
  cursor: pointer;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: var(--shadow-sm);
}

.button--info {
  position: relative;
}

.button--info::after {
  content: 'ⓘ';
  font-size: 0.75em;
  position: absolute;
  top: -0.25em;
  right: -1em;
  color: var(--text-white);
  background-color: var(--bg-green);
  border-radius: 2em;
  padding: 0.1em;
}

.text--white {
  color: var(--text-white);
}

.button--flat {
  box-shadow: none;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: var(--bg-header);
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr max-content;
  color: white;
}

.header .profile button {
  background-image: url(../images/down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  padding-right: 2em;
}

.header .title {
  font-size: 1.25em;
}

.header .title a {
  color: var(--text-white);
  text-decoration: none;
}

.main .body {
  flex: 1;
  display: flex;
  overflow: hidden;
  color: var(--text);
}

.footer {
  padding: 0.5em;
  background-color: var(--bg-footer);
  color: var(--text-second);
}

.sidebar {
  background-color: var(--bg-sidebar);
  width: 10%;
  color: var(--text-second);
  min-width: 20em;
  overflow: auto;
  padding: 0.5em;
  position: relative;
  transition: 0.3s width ease;
  overflow-x: hidden;
}

.sidebar--hidden {
  width: 2em;
  min-width: initial;
  cursor: pointer;
  overflow: hidden;
}

.sidebar ul,
.sidebar ol {
  list-style: none;
  padding-left: 0;
}

.sidebar--hidden .sidebar__content {
  visibility: hidden;
}

.sidebar button.toggle {
  width: 2em;
  height: 2em;
  background-color: var(--bg-white);
  background-image: url(../images/left.svg);
  border-radius: 50%;
  background-size: contain;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  transition: 0.3s all ease;
}

.sidebar--hidden button.toggle {
  transform: rotate(180deg);
}

.sidebar__content ul {
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
}

.sidebar__content ul li {
  padding: 0.5em;
}

.sidebar__content ul li.active {
  background-color: var(--bg-yellow);
  color: var(--text);
  font-size: 1.25em;
  border-radius: 0.5em;
  width: fit-content;
}

.main .content {
  background-color: var(--bg-content);
  flex: 1; /* Take up remaining space */
  overflow: auto; /* Allow scrolling if content overflows */
  padding: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.messages {
  background-color: var(--bg-white);
  width: 300px;
  padding: 1em;
  position: absolute;
  bottom: 3em;
  right: 3em;
  border-radius: 0.5em;
  box-shadow: var(--shadow-md);
}

.popup button.close,
.messages button.close {
  width: 2em;
  height: 2em;
  position: absolute;
  top: -1em;
  right: -1em;
  background-color: var(--bg-white);
  border-radius: 50%;
  background-image: url(../images/close.svg);
  background-size: contain;
  box-shadow: var(--shadow-sm);
}

.messages--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s all ease;
}

.profile {
  position: relative;
}

.profile--warning::before {
  font-size: 0.75em;
  content: '';
  display: block;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background-color: var(--bg-red);
  position: absolute;
  top: 25%;
  left: -1em;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

.profile__content {
  position: absolute;
  width: 20em;
  border-radius: 0.5em;
  right: 0;
  visibility: hidden;
  height: 0;
  background-color: white;
  padding: 1em;
  box-shadow: var(--shadow-sm);
  opacity: 0;
  transition: 0.3s opacity ease;
  color: var(--text-second);
}

.profile__content ul li {
  line-height: 2em;
}

.profile__content.show {
  visibility: visible;
  height: inherit;
  opacity: 1;
}

.messages h2 {
  margin-bottom: 0.5em;
}

.popup {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--popup-background-body);
  z-index: 100;
}

.popup--show {
  visibility: visible;
  pointer-events: initial;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  opacity: 1;
  transition: 0.3s opacity ease;
}

.popup .body {
  position: relative;
}

.popup .content {
  background-color: var(--bg-content);
  padding: 2em;
  border-radius: 1em;
  box-shadow: var(--shadow-md);
  max-width: 90vw;
  max-height: 90vh;
  overflow: scroll;
}

.durations {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.step-duration {
  /* font-size: 1.25em; */
  /* font-weight: 800; */
  background-color: wheat;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  white-space: nowrap;
}

.next-task {
  padding: 1em 2em;
  background-color: #3498db;
  border-radius: 0.5em;
  color: var(--text-white);
  float: right;

  width: fit-content;
  height: fit-content;
  align-self: flex-end;
  justify-self: flex-end;
}

.text--red {
  color: var(--text-red);
}

ul.grid--striped {
  list-style: none;
  display: grid;
  gap: 1em;
}

ul.grid--striped li {
  padding: 1em 2em;
  box-shadow: var(--shadow-sm);
  background-color: white;

  display: grid;
  gap: 0.5em;
}

.row--result {
  display: flex;
  align-items: center;
  gap: 1em;
}

input.text--result {
  padding: 0.5em;
  color: var(--text-green);
  background-color: var(--bg-yellow-alpha);
  border: 1px solid var(--border-black);
}
