@import url(./colors.css);
@import url(./fonts.css);
@import url(./var.css);
@import url(./reset.css);
@import url(./normalize.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./sidebar.css);
@import url(./popup.css);
@import url(./profile.css);
@import url(./dropdown.css);

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Ubuntu';
  font-weight: normal;
  color: var(--text-black);
  line-height: 1.5em;
  background-color: var(--white);
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

ol {
  list-style: decimal;
}

blockquote {
  margin: 1em 1em 1em 1em;
  padding-left: 1em;
  border-left: 0.5em solid var(--border-grey);
}

a {
  color: var(--text-blue);
}

ol,
ul {
  padding-left: 1em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--table-striped);
}

button {
  cursor: pointer;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: var(--shadow-sm);
}

.button--info {
  position: relative;
}

.button--info::after {
  content: 'ⓘ';
  font-size: 0.75em;
  position: absolute;
  top: -0.25em;
  right: -1em;
  color: var(--text-white);
  background-color: var(--bg-green);
  border-radius: 2em;
  padding: 0.1em;
}

.text--white {
  color: var(--text-white);
}

.button--flat {
  box-shadow: none;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main .body {
  flex: 1;
  display: flex;
  overflow: hidden;
  color: var(--text);
}

.main .content {
  background-color: var(--bg-content);
  flex: 1; /* Take up remaining space */
  overflow: auto; /* Allow scrolling if content overflows */
  padding: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.message {
  background-color: var(--bg-white);
  width: 300px;
  padding: 1em;
  position: absolute;
  bottom: 3em;
  right: 3em;
  border-radius: 0.5em;
  box-shadow: var(--shadow-md);
}

.block {
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--bg-white);
  display: grid;
  gap: 1em;
}

.shadow {
  box-shadow: var(--shadow-md);
}

.popup button.close,
.message button.close {
  width: 2em;
  height: 2em;
  position: absolute;
  top: -1em;
  right: -1em;
  background-color: var(--bg-white);
  border-radius: 50%;
  background-image: url(../images/close.svg);
  background-size: contain;
  box-shadow: var(--shadow-sm);
}

.message--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s all ease;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

.message h2 {
  margin-bottom: 0.5em;
}

.durations {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.step-duration {
  /* font-size: 1.25em; */
  /* font-weight: 800; */
  background-color: wheat;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  white-space: nowrap;
}

.next-task {
  padding: 1em 2em;
  background-color: #3498db;
  border-radius: 0.5em;
  color: var(--text-white);
  float: right;

  width: fit-content;
  height: fit-content;
  align-self: flex-end;
  justify-self: flex-end;
}

.text--red {
  color: var(--text-red);
}

ul.grid--striped {
  list-style: none;
  display: grid;
  gap: 1em;
}

ul.grid--striped li {
  padding: 1em 2em;
  box-shadow: var(--shadow-sm);
  background-color: white;

  display: grid;
  gap: 0.5em;
}

.row {
  display: flex;
  align-items: center;
  gap: 1em;
}

.result {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: flex-start;
}

.result__link {
  align-self: center;
}

.result__fields {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.result__text {
  padding: 0.5em;
  color: var(--text-green);
  background-color: var(--bg-yellow-alpha);
  border: 1px solid var(--border-black);
  flex-grow: 1;
}

input.error {
  outline: 4px solid var(--bg-red);
  border-color: var(--bg-red);
}
