.operation {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}

.operation--current,
.operation--complete {
  visibility: visible;
  left: initial;
  position: static;
}

.operation--complete {
  filter: opacity(0.5);
}

.operation__body {
  display: grid;
  gap: 1em;
}

.operation--complete .operation__body {
  pointer-events: none;
}

.operation__content {
  display: grid;
  gap: 1em;
}

.operation:first-child .operation__buttons button.prev {
  visibility: hidden;
  pointer-events: none;
}
