.step {
}

.step--current {
  outline: 0.3em solid plum;
}

.step__fields {
  display: grid;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.step__field {
  display: flex;
  align-items: center;
}
